.close-icon {
    position: absolute;
    right: 25px;
    margin-top: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
   }

   .inner {
    position: relative;
    background: #ccc;
   }
